/* Your custom CSS goes here... */
#mapid { height: 400px; }

#col-1{
    position: fixed;
    width: 50%;
    left: 0%;
    height: 100%;
    background-color: rgb(196, 196, 196);
    z-index: 1010101010
  }
  
  #col-2{
    position: fixed;
    width: 50%;
    left: 50%;
    height: 100%;
    background-color: #a7a7a7;
    z-index: 1010101010
  }

  #col-3 {
    position: fixed;
    width: 100%;
    left: 0%;
    height: 100%;
    background-color: #ffffffeb;
    z-index: 1010101010
  }

h1{
    color: rgb(76,170,235);
    font-family: 'Calibri', serif;
}
h2 {
  color: rgb(255, 255, 255);
  font-family: 'Calibri', serif;
}
title {
    font-family: 'Times New Roman', serif;
    color: rgb(76,170,235);
}
a {
    font-family: 'Calibri', serif;
    color: rgb(76,170,235);
}

img {
    height: 200px; width: 266px;
}

img-2 {
    height: 200px; width: 200px;
}

body1 {
    font-family: 'Calibri', serif;
    color: rgb(0, 0, 0);
}
