{% extends "base.html" %}

{% block content %}

<h1>About the Developers!</h1>
<br>
<br>
<br>
<h3>Eli Fouts</h3>
<img src={{url_for('static', filename='eli.png')}} alt="eli">
<h4>UC Computer Science Class of 2027</h4>
<br>
<br>
<h3>Soham Das</h3>
<img src={{url_for('static', filename='soham.png')}} alt="soham">
<h4>UC Computer Science Class of 2027</h4>
<br>
<br>
<h3>Nathan Grilliot</h3>
<img src={{url_for('static', filename='nathan.png')}} alt="nathan">
<h4>UC Computer Engineering Class of 2027</h4>
<br>
<br>
<h3>Daniel Vennemeyer</h3>
<img src={{url_for('static', filename='daniel.png')}} alt="daniel">
<h4>UC Computer Science Class of 2027</h4>

{% endblock %}