{% extends "base.html" %}

{% block content %}
<div id="col-3">
<br>
<br>
<br>
<br>
<center><img src={{url_for('static', filename='p.jpg')}} alt="logo"></center>
<h1><center>Poli Search</center></h1>
<br>
<body><center>
    <form action = "{{ url_for('main.information') }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="text" name="user-input">
        <input type = "Submit" value="Search">
    </form>
    <div>Enter the Name of a Politician</div>
</body></center>
</div>
{% endblock %}