{% extends "base.html" %}

{% block content %}

<h1>Survey</h1>
<br>


<form action = "{{ url_for('main.survey') }}" method="post">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    
    1) What is your political stance?<br>
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="demo" name="pol-stance" value="Democratic">
    <label for="demo">Democratic</label><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="repub" name="pol-stance" value="Republican">
    <label for="repub">Republican</label><br>

    <br>
    2) Do you support Globalization?<br>
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="yes" name="global" value="Yes">
    <label for="yes">Yes</label><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="no" name="global" value="No">
    <label for="no">No</label><br>

    <br>
    3) Are you Pro-life or Pro-choice?<br>
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="prolife" name="abortion" value="Pro-life">
    <label for="prolife">Pro-life</label><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="prochoice" name="abortion" value="Pro-choice">
    <label for="prochoice">Pro-choice</label><br>

    <br>
    4) Are you Fiscally-liberal or Fiscally-conservative?<br>
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="fisc_liberal" name="fiscally" value="Fiscally-liberal">
    <label for="fisc_liberal">Fiscally-liberal</label><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="fisc_cons" name="fiscally" value="Fiscally-conservative">
    <label for="fisc_cons">Fiscally-conservative</label><br>

    <br>
    5) Do you wish gun laws were stricter?<br>
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="yes" name="gun_law" value="Yes">
    <label for="yes">Yes</label><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="no" name="gun_law" value="No">
    <label for="no">No</label><br>

    <br>
    6) Do you support LGBTQ rights?<br>
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="yes" name="LGBTQ" value="Yes">
    <label for="yes">Yes</label><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" id="no" name="LGBTQ" value="No">
    <label for="no">No</label><br>    

    <br>
    <input type="submit" value="Submit">

</form>



{% endblock %}